# Path to the persona JSON file
PERSONA_PATH=""

# File storage settings
FILE_STORAGE_PATH="/home/${USER}/.cache/ovos-persona-server/files"
FILE_STORAGE_STRATEGY="disk"  # Options: disk, database, both

# API keys for external services
OPENAI_KEY="sk-xxx"
OPENAI_URL="http://100.88.41.41:11434/v1"
OPENAI_MODEL="gemma3n:latest"

# LLM settings - used if PERSONA_PATH not set
SOLVER_PLUGIN="ovos-solver-openai-plugin"
PERSONA_NAME="OpenVoiceOS"
# Default to OPENAI_XXX values if not set
LLM_MODEL=""
LLM_URL=""
LLM_KEY=""
LLM_SYSTEM_PROMPT=""

# Embeddings database plugin settings
EMBEDDINGS_DB_PLUGIN="ovos-chromadb-embeddings-plugin"

# Image embeddings plugin settings (placeholder)
IMAGE_EMBEDDINGS_PLUGIN=""

# Text embeddings plugin settings
TEXT_EMBEDDINGS_PLUGIN="ovos-gguf-embeddings-plugin"
EMBEDDINGS_VERBOSE="true"
EMBEDDINGS_MODEL="labse"
EMBEDDINGS_LLAMACPP_N_GPU_LAYERS="-1"
# Default to OPENAI_XXX values if not set
EMBEDDINGS_URL=""
EMBEDDINGS_KEY=""

# Summarizer plugin settings
SUMMARIZER_PLUGIN="ovos-summarizer-openai-plugin"
SUMMARIZER_PROMPT="Your task is to summarize text. Always answer in plaintext with no formatting. Focus on the most important information. ------- {content}"
# Default to OPENAI_XXX values if not set
SUMMARIZER_URL=""
SUMMARIZER_KEY=""
SUMMARIZER_MODEL=""

# Reranker plugin settings
RERANKER_PLUGIN="ovos-flashrank-reranker-plugin"
RERANKER_MODEL="ms-marco-MultiBERT-L-12"